<div class="chatPage">
  <header class="header">
  <%= link_to "", matching_index_path, class: "linkToMatching" %>
    <div class="chatPartner">
      <div class="chatPartner_img"><%= image_tag "#{@room_user.image}" %></div>
      <div class="chatPartner_name"><%= @room_user.nickname %></div>
    </div>
  </header>

  <div class="container">
    <div class="messagesArea messages">
        <span id="messages"></span>
      <% @messages.reverse.each do |message| %>
        <p><%= message.user.nickname %></p>
        <p class="d-flex justify-content-center shadow p-3 mb-5 bg-light rounded"><%= message.message %></p>
      <% end %>
    </div>
  </div>

  <%= form_with model:@message, url: message_index_path(@room), class:"messageInputForm", name: '#{@room_user}' do |f| %>
    <div class='container'>
      <%= f.text_field :message, class:"messageInputForm_input", placeholder:"メッセージを入力..."%>
      <%= f.button type: :submit do %>
        <i class="fa fa-paper-plane" ></i>
      <% end %>
    </div>
  <% end %>

</div>
