<div class="summary">
<%= render 'shared/header' %>
  <div class="container">
    <div class="summary_top">
      <div class="col summary_timer">
        <h6>東京五輪バスケ開催まで</h6>
        <p class="h5"><span id="day" class="h4"></span>日<span id="hour" class="h4"></span>時間<span id="min" class="h4"></span>分<span id="sec" class="h4"></span>秒</p>
      </div>
      <div class="summary_show">
        <h5><strong>バスケ</strong>専用マッチングアプリ</h5>
      </div>
    </div>
    <div class="row summary_up">
      <div class="col summary_up_title">
        <h4><span class="summary_up_title_team">チームメイトを探したい</span><br/>
        <span class="summary_up_title_match">他のチームと試合を組みたい</span><br/>
        <span class="summary_up_title_friends">応援仲間を見つけたい</span></h4>
        <h3 class="summary_up_title_hope"><strong class="h1" style="color: darkorange;">MatchApp</strong>で見つかります</h3>
      </div>
      <div class="col summary_up_search">
        <%= link_to seek_home_index_path, class:"summary_up_btn" do %>
          <div class="summary_up_btn_icon">探しに行く</div>
        <% end %>
      </div>
    </div>
    <div class="row summary_down">
      <div class="col-xs-4">
        <%= link_to chat_home_index_path, class:"summary_down_news" do %>
          <div class="summary_down_new_text">NEWS</div>
        <% end %>
      </div>
      <div class="col-xs-4">  
        <%= link_to game_home_index_path, class:"summary_down_btn" do %>
          <div class="summary_down_btn_icon"><i class="fa fa-gamepad"></i></div>
        <% end %>
      </div>
      <div class="col-xs-4">
        <a href="https://lin.ee/pHke6nm" class="summary_down_line fab fa-line fa-4x"></a>
      </div>
    </div>
  </div>
<%= render 'shared/footer' %>